.App {
    width: 100vw;
    height: 100vh;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

.pc {
    width: 30vw;
    align-self: center;
}

.div-bg1 {
    width: 100vw;
    height: 70vh;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
    transform: translateZ(0);
    background-image: linear-gradient(to bottom, #e85682, #e36868 74%, #d97379, #d97379);
}

.div-bg2 {
    width: 100vw;
    height: 30vh;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
    transform: translateZ(0);
    background-color: #da7478;
}

.water-cat {
    position: absolute;
    top: 6vh;
    left: 37vw;
    font-family: HelveticaNeue;
    font-size: 7vw;
    font-weight: bold;
    color: #f2f2f2;
}

.cat {
    position: absolute;
    width: 8vw;
    top: 3vh;
    left: 27.5vw;
}

.cat-bowl {
    position: absolute;
    top: 27.5vh;
    left: 36.8vw;
    width: 25vw;
    height: 25vw;
    box-shadow: 0 0 7.5px 0 rgba(0, 0, 0, 0.25);
    border-radius: 50%;
}

.button {
    position: absolute;
    bottom: 8vh;
    left: 42vw;
    width: 15vw;
    height: 7vh;
    background-color: #f2f2f2;
    box-shadow: 0 0 7.5px 0 rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

.button:hover {
    background-color: #c9c9c9;
    color: #FFF;
}

.fill-your-cat {
    font-family: HelveticaNeue;
    font-size: 2vw;
    color: #da7478;
}

.percentage {
    font-size: 5vw;
    position: absolute;
    top: 50vh;
    align-self: center;
    color: #f2f2f2;
    font-family: HelveticaNeue;
}

@media all and (max-width: 1024px) {
    .cat {
        width: 15vw;
        top: 6.2vh;
        left: 6vw;
    }
    .cat-bowl {
        position: absolute;
        top: 28.5vh;
        left: 10vw;
        width: 80vw;
        height: 80vw;
    }
    .water-cat {
        position: absolute;
        top: 7vh;
        left: 24.5vw;
        font-size: 13vw;
    }
    .button {
        position: absolute;
        bottom: 10vh;
        left: 20vw;
        width: 60vw;
        height: 8vh;
    }
    .fill-your-cat {
        font-family: HelveticaNeue;
        font-size: 8vw;
        color: #da7478;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}